body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #333333
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #FFA500;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: .03em;
}

input {
  font-size: 24px;
  border: 2px solid #FFA500;
  color: #FFA500;
  height: 48px;
  padding: 0 20px;
  border-radius: 40px;
  width: auto;
  background-color: #333333
}
